<script context="module" lang="ts">
	export const prerender = true;

	const posts = import.meta.glob('/routes/projects/*.svx');

	console.log('>>>', posts);

	let body = [];

	for (const path in posts) {
		body.push(posts[path]().then(({ metadata }) => metadata));
	}

	/**
	 * @type {import('@sveltejs/kit').Load}
	 */
	export async function load({ url, params, fetch }) {
		const posts = await Promise.all(body);

		return {
			props: {
				posts
			}
		};
	}
</script>

<script>
	export let header;
</script>

<h3>{header}</h3>
{#each posts as { title, outline, slug }}
	{title}
{/each}
<ul>
	<!-- {#each posts as { title, outline, slug }}
		{#if pathSlug != slug}
			<li>
				<a rel="prefetch" href="./{slug}">
					{title}
				</a>
				<p>
					{outline}
				</p>
			</li>
		{/if}
	{/each} -->
</ul>

<style>
</style>
