<script>
	export let title;
	export let description;
</script>

<svelte:head>
	<!-- Primary Meta Tags -->
	<title>{'Pete Nawara - ' + title}</title>
	<meta name="title" content={'Pete Nawara - ' + title} />
	<meta name="description" content={description} />
</svelte:head>
