<div class="zigzag" />

<style>
	.zigzag {
		margin: 1rem 0 3rem;
		background: transparent;
		position: relative;
		height: 1rem;
		z-index: 1;
	}
	.zigzag:before,
	.zigzag:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
	}
	.zigzag:before {
		height: 1rem;
		top: 110%;
		background: linear-gradient(-135deg, var(--light) 0.5rem, transparent 0) 0 0.5rem,
			linear-gradient(135deg, var(--light) 0.5rem, transparent 0) 0 0.5rem;
		background-position: top left;
		background-repeat: repeat-x;
		background-size: 1rem 1rem;
	}
	.zigzag:after {
		height: 1rem;
		top: 100%;
		background: linear-gradient(-135deg, var(--white) 0.5rem, transparent 0) 0 0.5rem,
			linear-gradient(135deg, var(--white) 0.5rem, transparent 0) 0 0.5rem;
		background-position: top left;
		background-repeat: repeat-x;
		background-size: 1rem 1rem;
	}
</style>
