<script lang="ts">
	import '../app.css';

	import * as resume from './resume.json';
</script>

<main>
	<section>
		<h1><a href="/">{resume.name.firstName} {resume.name.lastName}</a></h1>
	</section>
	<slot />
</main>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 5rem;
		padding: 1rem;
	}
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 50rem;
		width: 100%;
	}
</style>
