<script context="module" lang="ts">
	import Zigzag from '$lib/Zigzag.svelte';

	export const prerender = true;

	const posts = import.meta.glob('./projects/*.svx');

	let body = [];

	for (const path in posts) {
		body.push(posts[path]().then(({ metadata }) => metadata));
	}

	/**
	 * @type {import('@sveltejs/kit').Load}
	 */
	export async function load({ url, params, fetch }) {
		const posts = await Promise.all(body);

		return {
			props: {
				posts
			}
		};
	}
</script>

<script lang="ts">
	import Projects from '$lib/projects.svelte';
	import * as resume from './resume.json';
	let options = { year: 'numeric', month: 'long' };
	export let y;

	export let posts;
</script>

<svelte:head>
	<title>Pete Nawara - Resume</title>
</svelte:head>

<svelte:window bind:scrollY={y} />

<!-- <Projects header="Projects"/> -->

<section>
	<div class="profilepic" style:filter="grayscale({y / 1.5}%)" />
	<p class="job-title">{resume.jobTitle} with 15+ years exprience</p>
</section>
<section>
	<h3>Overview</h3>
	<p>{resume.overview}</p>
	<h3>Details</h3>
	<ul>
		<li>
			<a href="mailto:{resume.contact.email}">{resume.contact.email}</a>
		</li>
		<li>
			<a href="tel:{resume.contact.phone}">{resume.contact.phone}</a>
		</li>
	</ul>
	<h3>Projects</h3>
	<ul>
		{#each posts as { title, outline, slug }}
			<li>
				<a rel="prefetch" href="projects/{slug}">
					{title}
				</a>
				<p>
					{outline}
				</p>
			</li>
		{/each}
	</ul>
	<h3>Employment History</h3>
	<ul class="jobs">
		{#each resume.employment as job}
			<li>
				<strong>{job.title}</strong> at
				{#if job.url}
					<a href={job.url}>{job.employer}</a>
				{:else}
					<span class="employer">{job.employer}</span>
				{/if}
				<p class="date">
					{new Date(job.start_date).toLocaleDateString('en-US', options)} -
					{#if job.end_date}
						{new Date(job.end_date).toLocaleDateString('en-US', options)}
					{:else}
						Present
					{/if}
				</p>
				<p>{job.description}</p>
				<Zigzag />
			</li>
		{/each}
	</ul>
	<h3>Links</h3>
	<ul class="links">
		{#each resume.links as link}
			<li><a href={link.url}>{link.name}</a></li>
		{/each}
	</ul>
	<h3>Skills</h3>
	<ul class="skills">
		{#each resume.skills as skill}
			<li>
				<label for="skill_{skill.name}">{skill.name}</label>
				<progress id="skill_{skill.name}" max="5" value={skill.proficiency}
					>{skill.proficiency}</progress
				>
			</li>
		{/each}
	</ul>
	<h3>Hobbies</h3>
	<ul>
		{#each resume.hobbies as hobby}
			<li>{hobby.name}</li>
		{/each}
	</ul>
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 50rem;
		width: 100%;
	}
	.profilepic {
		width: 10rem;
		height: 10rem;
		margin-bottom: 1rem;
		background-image: url('/pic2.png');
		background-size: cover;
		border-radius: 0.5rem;
		align-self: flex-start;
	}
	.employer {
		font-family: dico-mono-script, mono;
		color: var(--dark);
		font-weight: 400;
	}

	ul.links {
		display: flex;
		gap: 1rem;
	}
	ul.skills li {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 0.5rem;
	}
	ul.skills li progress {
		width: 100%;
	}
</style>
