<script context="module" lang="ts">
	export const prerender = true;

	const posts = import.meta.glob('./*.svx');

	let body = [];

	for (const path in posts) {
		body.push(posts[path]().then(({ metadata }) => metadata));
	}

	/**
	 * @type {import('@sveltejs/kit').Load}
	 */
	export async function load({ url, params, fetch }) {
		const posts = await Promise.all(body);

		return {
			props: {
				posts
			}
		};
	}
</script>

<script lang="ts">
	import { page } from '$app/stores';
	export let posts;

	let path = $page.url.pathname;
	let pathSlug = path.substring(path.lastIndexOf('/') + 1);
</script>

<section>
	<slot />
	<h3>Other Projects</h3>
	<ul>
		{#each posts as { title, outline, slug }}
			{#if pathSlug != slug}
				<li>
					<a rel="prefetch" href="./{slug}">
						{title}
					</a>
					<p>
						{outline}
					</p>
				</li>
			{/if}
		{/each}
	</ul>
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 50rem;
		width: 100%;
	}
</style>
