<script context="module">
	const posts = import.meta.glob('./items/*.svx');

	let body = [];

	for (const path in posts) {
		body.push(posts[path]().then(({ metadata }) => metadata));
	}

	/**
	 * @type {import('@sveltejs/kit').Load}
	 */
	export async function load({ url, params, fetch }) {
		const posts = await Promise.all(body);

		return {
			props: {
				posts
			}
		};
	}
</script>

<script>
	export let posts;
</script>

<section>
	<ul>
		<h1>Projects</h1>
		{#each posts as { title, outline, slug }}
			<li>
				<a rel="prefetch" href="projects/items/{slug}">
					{title}
				</a>
				<p>
					{outline}
				</p>
			</li>
		{/each}
	</ul>
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 50rem;
		width: 100%;
	}
	ul {
		padding: 0;
	}
</style>
