@import url('https://use.typekit.net/kwa4fuh.css');

:root {
	font-family: dico-mono, mono;

	--dark: #4f4d5b;
	--mid: #7f7d8b;
	--light: #dfddeb;
	--white: #ffffff;

	--accent: #13cb96;

	color: var(--mid);
	accent-color: var(--accent);
}

* {
	box-sizing: border-box;
}

a {
	font-family: dico-mono-script, mono;
	color: var(--accent);
	text-decoration: none;
	transition: all ease-in-out 0.4s;
}

a:hover {
	text-decoration: underline;
}

a img {
	border-color: var(--accent);
	border-width: 1px;
	border-style: solid;
	padding: 1rem;
	transition: 0.4s;
}

a:hover img {
	padding: 0.5rem;
	border-width: calc(0.5rem - 1px);
}

html {
	font-size: 100%;
} /*16px*/

body {
	font-weight: 400;
	line-height: 1.75;
}

p {
	margin: 0 0 1rem;
}

h2,
h3,
h4,
h5 {
	font-size: 1rem;
	margin: 3rem 0 1rem;
	font-weight: 400;
	line-height: 1.3;
	color: var(--dark);
	border-bottom: 0.0625rem solid var(--light);
	padding-bottom: 0.25rem;
}

h1 {
	font-family: dico-mono-script, mono;
	color: var(--accent);
	font-weight: 800;
	font-size: 1.5rem;
}

strong {
	color: var(--dark);
	font-weight: 400;
}

small,
.text_small {
	font-size: 0.8rem;
}

figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 1rem 0 2rem;
}
figcaption {
	color: var(--mid);
	border-width: 1px 0;
	border-color: var(--light);
	border-style: dashed;
	padding: 0.5rem 1rem;
	width: 100%;
	margin-top: 1rem;
}

img {
	max-width: 100%;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
